:root {
    --youtube-black-12: #121212;
    --youtube-black-18: #181818;
    --youtube-black-21: #212121;
    --youtube-black-32: #323232;
    --youtube-black-38: #383838;
    --youtube-black-47: #474747;
    --youtube-white: #FFF;
    --youtube-aa: #AAA;
    --youtube-blue: #3DA6FF;
}